.sidebar {
    width: 100px;
    background-color: #f0f0f0;
    height: 100vh; /* Full height */
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
}

.sidebar ul li a {
    display: block;
    color: black;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}



.sidebar-tab {
    text-align: center; /* Center align the icon and text */
}

.icon-title {
    display: block; /* Make the title appear below the icon */
    font-size: small; /* Adjust the font size as needed */
    color: #333; /* Adjust the color as needed */
}

.sidebar-tab a {
    display: block;
    color: #333; /* Default text color */
    background-color: transparent; /* Default background color */
    text-decoration: none;
    padding: 10px;
}

.sidebar-tab a.active {
    color: white!important;
    background-color: black;
}

.icon-title-active {
    display: block; /* Make the title appear below the icon */
    font-size: small; /* Adjust the font size as needed */
    color: white!important; /* Adjust the color as needed */
}


