<div class="sidebar">
  <ul>
    <li class="sidebar-tab" routerLinkActive="active">
      <a
        routerLink="/"
        (click)="changeTab(1)"
        [ngClass]="{ active: activeTab === 1 }"
      >
        <i class="bi bi-database"></i>
        <span
          class="icon-title"
          [ngClass]="{ 'icon-title-active': activeTab === 1 }"
          >Database</span
        >
      </a>
    </li>
    <li class="sidebar-tab" routerLinkActive="active">
      <a
        routerLink="/proxy-manager"
        (click)="changeTab(2)"
        [ngClass]="{ active: activeTab === 2 }"
      >
        <i class="bi bi-router-fill"></i>
        <span
          class="icon-title"
          [ngClass]="{ 'icon-title-active': activeTab === 2 }"
          >Proxy</span
        >
      </a>
    </li>
    
    <li class="sidebar-tab" routerLinkActive="active">
      <a
        routerLink="/json-to-ts"
        (click)="changeTab(4)"
        [ngClass]="{ active: activeTab === 4 }"
      >
      <i class="bi bi-filetype-tsx"></i>
        <span
          class="icon-title"
          [ngClass]="{ 'icon-title-active': activeTab === 4 }"
          >JSON to TS</span
        >
      </a>
    </li>
    <li class="sidebar-tab" routerLinkActive="active">
      <a
        routerLink="/settings"
        (click)="changeTab(5)"
        [ngClass]="{ active: activeTab === 5 }"
      >
        <i class="bi bi-gear-wide-connected"></i>
        <span
          class="icon-title"
          [ngClass]="{ 'icon-title-active': activeTab === 5 }"
          >Settings</span
        >
      </a>
    </li>
  </ul>
</div>
