<div class="container-fluid">
  <div class="container my-3">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <span class="bi bi-filetype-json"></span>&nbsp;
                <!-- Placeholder for the icon -->
                <h5 class="card-title mb-0">JSON difference checker</h5>
              </div>
              <small class="text-muted">JSON DIFFS</small>
            </div>
            <p class="card-text">
              This tool allows you to validate and compare two JSON files.
              <br />
              Useful to compare QA and PROD Agent Configurations.
              <br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
